* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color:  #e4e4e4;
    padding: 40px 30px;
    border-radius: 30px;
    width: 400px;
    text-align: center;
    min-height: 700px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    width: 200px;
    margin-bottom: 10px;
}

h1 {
    color: #1c1c1c;
    margin-bottom: 30px;
    font-weight: 700;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    background-color: #c4c4c4;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 10px;
}

.input-group i {
    margin-right: 10px;
    color: #333;
}

.input-group input {
    border: none;
    outline: none;
    background: none;
    flex: 1;
    font-size: 16px;
}

.btn-login {
    display: block;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}

.btn-login:hover {
    background-color: #333;
}

.google-btn {
    margin-top: 20px;
    background-color: #c4c4c4;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.signup-link {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #000000;
}

.signup-link a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.signup-link a:hover {
    text-decoration: underline;
}

.google-btn img {
    width: 20px;
}

.google-btn:hover {
    background-color: #b0b0b0;
}

.link-custom {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.link-custom:hover {
  color: #555; /* ou outra cor de destaque */
  text-decoration: underline; /* ou 'none' se não quiser nada */
}



/* Responsivo */
@media (max-width: 480px) {
    .container {
        padding: 30px 15px;
    }

    h1 {
        font-size: 24px;
    }
}
